.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.holder{
  width: 50vw;
  height: 50vh;
  position: relative;
}

.text {
  font-size: 30px;
  cursor: pointer;
}

.hover-block{
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  left: 100%;
  bottom: 100%;
  font-size: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;text-align: center;
}